/*##############################      DIV-4         EVENT PAGE                       #######################*/




/*#talk-details{
  margin-top: 10px;
  background-color: cadetblue;
  background-color: #ffc168;
}*/

#img-talk-title{
  /* margin-top: 5px; */
  /*padding-top:1px;*/
  /*text-align: center;*/
  /*font-size: 15px;*/
  /*padding-bottom: 1px;*/
  /*background-color: #c41230;*/
  display: flex;
  justify-content: space-between;
  /*2012c442*/
  /*#b3404063*/
  /*#0b44ee47*/
}

#img-talk-title>div:first-child{
  width: 30%;
}

#img-talk-title>div:last-child{
  padding-left: 20px;
  width: 70%;
}



#date-time{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#date-time>div:first-child{
  width: 100%
}
#date-time>div:last-child{
  width:100%
}

.date{
  width: 100%;
  /*position: relative;*/
  font-size: medium;
  /*padding: 1px 0 1px 0;*/
  /*background-color: #f26522;*/
  text-align: center;

}
.place
{
  width: 100%;
  /*position: absolute;*/
  font-size: medium;
  /*padding: 1px 0 1px 0;*/
  /*background: #EE377D;*/
  /*background:#f26522;*/
  text-align: center;

}

.img-time img{
  width: 100%;
  height: 100%;

}

.img-time{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: x-large;
  /*color:rgb(4, 44, 104);*/
  color: white;
  /*background-color: #2F2424;*/
  background-color: #4a8594;
}

.event-abstract{
  margin-top:10px;
  text-align: center;
   padding-left: 10px; 
  /*padding: 0px 10px 10px 10px;*/
  /*color: dark black;*/
  font-size: 20px;
  font: 'serif';
  border-width: 20px;
  border-color: #58c6f162;
  border-style: solid;
  border-radius: 20px;
}


.talk-title{
  /* margin-top: 5px; */
  padding-top:1px;
  text-align: center;
  color: white;
  /*font-size: 10px;*/
  padding-bottom: 1px;
  background-color:#4a8594; 
  /*background-color: #c41230;*/
  /*2012c442*/
  /*#b3404063*/
  /*#0b44ee47*/
}



#img-detail{
  display: flex;
  justify-content: space-between;
}
#img-detail>div:first-child{
  width:30%;
}

#img-detail>div:last-child{
  width:65%;
}

